body {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	background-color: #d9f7b7;
}

h1 {
	color: #800080;
}

cite {
	font-style: italic;
}

.content {
	padding-top: 80px;	
}

/* Navigation */

nav {
	position: fixed;
	display: flex;
	text-decoration: none;
	background-color: #006161;
	color: #FFD2FF;
	height: 60px;
	width: 100%;
}
